extends ../node_modules/jade-bootstrap/_bootstrap

block body
  h1= title
  p Welcome to #{title} portal
  form(action = '/login', method = 'post')
    button(type = 'submit', value = 'Submit') Admin Login
  br
  form(action = '/test', method = 'post')
    button(type = 'submit', value = 'Submit') test

